/**
 * /* Global Styles
 *
 * @format
 */

:root {
	--primary-color: #03a1de;
	--dark-color: #343a40;
	--light-color: #f4f4f4;
	--danger-color: #dc3545;
	--success-color: #28a745;
}

/* main grid */

* {
	list-style: none;
	text-decoration: none;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L;
}

::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: white;
}

body {
	margin: 0;
}
a {
	color: black;
}

.main-grid {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	height: 95vh;
	background: rgb(6, 0, 99);
	background: linear-gradient(
		90deg,
		rgba(6, 0, 99, 1) 0%,
		rgba(9, 9, 121, 1) 35%,
		rgba(0, 236, 255, 1) 100%
	);
}
/* navbar */
.navbar {
	grid-row: 1/2;
	grid-column: 1/11;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}
.navbar a {
	color: white;
}

.nav-links {
	color: black;
	display: flex;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: space-around;
}

.nav-title {
	text-align: center;
}

/* landing */

.widget-inner {
	grid-row: 4/8;
	grid-column: 2/10;
	text-align: center;
	border-radius: 50px;
	background-color: white;
	margin: 5px;
}
.btnLanding {
	width: 70%;
	border: none;
	margin: 5px;
	padding: 8px 3px;
	border-radius: 50px;
	color: white;
	background-color: #03a1de;
}

/* login */

widget-login {
	grid-row: 4/8;
	grid-column: 2/10;
}
.form-group {
	padding: 7px;
}
.text-field {
	border-radius: 20px;
	height: 30px;
	width: 80%;
}
.btn {
	border: none;
	border-radius: 40px;
	height: 40px;
}

/* register */
.widget-register {
	grid-row: 3/10;
}

/* dashboard */
.widget-dashboard {
	grid-row: 3/10;
	grid-column: 1/11;
	overflow-y: scroll;
}

.small-btn {
	height: 15px;
	border-radius: 30px;
	background-color: #f1f3f8;
	color: black;
	border: none;
	padding: 10px 7px;
	margin: 5px;
	font-size: 10px;
}
/* posts */
.form-holder {
	grid-row: 2/3;
	grid-column: 1/11;
	text-align: center;
	border-radius: 50px;
	background-color: white;
	margin: 5px;
}
.posts-form {
	padding: 10px 2px;
}
.widget-posts {
	grid-row: 3/10;
	grid-column: 1/11;
	overflow-y: scroll;
	text-align: left;
	background-color: white;
	margin: 5px;
}
.round-img {
	border-radius: 30%;
	width: 2rem;
	height: 2rem;
	margin-right: 0.5rem;
}
.img-name {
	display: flex;
	justify-content: flex-start;
	padding: 0 10px;
	align-items: center;
}

.post-and-date {
	display: flex;
	justify-content: space-between;
}

.post-date {
	color: #b8b8b8;
	text-align: left;
	font-weight: 10;
	margin-right: 1rem;
}

.post-actions {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.comments {
	background-color: black;
	color: white;
}

.selected-post {
	text-align: center;
}

.comments-list {
	grid-column: 1/11;
}

.comment-and-date-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.comment-text {
	grid-column: 1/5;
}

.comment-date {
	grid-column: 5/6;
}
.comment-delete {
	grid-column: 6/7;
}
/* Profiles List */
.profiles-widget {
	grid-column: 1/11;
	grid-row: 3/10;
	overflow-y: scroll;
	text-align: center;
	border-radius: 40px;
	background-color: white;
	margin: 5px;
}
.profile-list-item {
	padding: 10px 0;
	border-bottom: 1px dashed lightgray;
}
developers-header {
	grid-row: 2/3;
	grid-column: 1/11;
	justify-content: center;
}
.vp-btn {
	font-size: 15px;
}
.skills {
	display: flex;
	justify-content: space-around;
	padding: 0;
}

/* View Profile */
.view-profile-widget {
	grid-column: 1/11;
	grid-row: 2/11;
	border-radius: 40px;
	overflow-y: scroll;
	text-align: center;
	background-color: white;
	margin: 5px;
}
.name-vp {
}
.btn {
	border-radius: 30px;
	background-color: #f1f3f8;
	color: black;
	border: none;
	padding: 10px 10px;
	margin: 20px 5px;
	font-size: 15px;

	display: row;
}
.profile-buttons {
	padding: 20px;
}
.profile-experience {
	border-top: 1px dashed black;
	border-bottom: 1px dashed black;
}

/* edit profile  */
.profile-widget-inner {
	grid-column: 1/11;
	grid-row: 3/10;
	border-radius: 40px;
	overflow-y: scroll;
	text-align: center;
	background-color: white;
	margin: 5px;
}

.block {
	display: block;
}
.btn-submit {
	margin: 0;
	padding: 15px;
}
/* add experience */
.add-exp-widget {
	grid-column: 1/11;
	grid-row: 3/10;
	border-radius: 40px;
	overflow-y: scroll;
	text-align: center;
	background-color: white;
	margin: 5px;
}
/* add education */
.add-edu-widget {
	grid-column: 1/11;
	grid-row: 3/10;
	border-radius: 40px;
	overflow-y: scroll;
	text-align: center;
	background-color: white;
	margin: 5px;
}
.no-bg {
	background-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 750px) {
	.main-grid {
		height: 100vh;
	}
	.widget-inner {
		grid-column: 1/11;
		margin: 0 auto;
		overflow-y: scroll;
	}
	.widget-register {
		grid-column: 4/8;
		grid-row: 3/9;

		margin: 0;
	}
	.widget-login {
		grid-column: 4/8;
		grid-row: 4/9;
		margin: 0;
		padding: 50px;
	}
	.profiles-widget {
		grid-column: 3/9;
	}
	.view-profile-widget {
		grid-column: 3/9;
	}
	.widget-posts {
		grid-column: 3/9;
	}
	.form-holder {
		grid-column: 3/9;
	}
	.profile-widget-inner {
		grid-column: 3/9;
	}
	.add-exp-widget {
		grid-column: 3/9;
	}
	.add-edu-widget {
		grid-column: 3/9;
	}
	.table {
		margin: 0 auto;
	}
	.flex-form {
		grid-column: 3/9;
	}
	.wi-l {
		grid-column: 3/9;
		grid-row: 4/7;
		padding: 40px;
	}
}
